{% extends "__layout.html" %} {% block content %}

<div class="flexcontainer">
    <div class="flexitem sidemenu">
        <div class="card text-center text-light mx-auto linkcard">
            <div class="card-body">
                <h5 class="card-title textheader text-black">Перейти</h5>
                <h6 class="card-subtitle mb-2 text-muted">-------------</h6>
                <div id="list-example" class="list-group">
                    <a
                        class="list-group-item list-group-item-action txter"
                        href="#tickandel"
                        >Эл. управления</a
                    >
                    <a
                        class="list-group-item list-group-item-action txter"
                        href="#positions"
                        >Положение</a
                    >
                    <a
                        class="list-group-item list-group-item-action txter"
                        href="#jumpdis"
                        >Прыжок</a
                    >
                </div>
            </div>
        </div>
    </div>
    <div
        data-bs-spy="scroll"
        data-bs-target="#list-example"
        data-bs-smooth-scroll="true"
        class="flexitemcenter"
        tabindex="0"
    >
        <br /><br /><br />
        <p class="pageheader">Глоссарий Minekour</p>
        <hr />
        <br />
        <p id="tickandel" class="textheader">"Тики" и элементы управления</p>
        <hr />
        <table
            class="txter mx-auto tabc table table-striped table-active table-bordered"
        >
            <thead>
                <tr>
                    <td>Термин</td>
                    <td>Алиас</td>
                    <td>Определение</td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>Тик</td>
                    <td>t</td>
                    <td id="tickp">
                        Стандартная единица измерения времени в Minecraft,
                        равная 50 мс. Физика и входные данные в Minecraft
                        обновляются раз в такт.
                    </td>
                </tr>
                <tr>
                    <td>WASD</td>
                    <td></td>
                    <td id="movep">
                        Стандартные элементы управления в игре (W=прямо,
                        A=влево, S=назад, D=вправо)
                    </td>
                </tr>
                <tr>
                    <td>Бег</td>
                    <td>ctrl</td>
                    <td id="ctrlp">
                        Действие, которое делает персонажа быстрее на 30%.
                        Активируется нажатием клавиши Ctrl по дефолту, или
                        двойным нажатием клавиши <a href="#movep">W</a>.
                    </td>
                </tr>
                <tr>
                    <td>Ходьба</td>
                    <td></td>
                    <td id="walkp">
                        Вид передвижения, заданный в игре по умолчанию без
                        нажатия каких-либо дополнительных клавиш, кроме клавиш
                        передвижения (чтобы активировать, просто нажмите любую
                        из клавиш
                        <a href="#movep">передвижения</a>).
                    </td>
                </tr>
                <tr>
                    <td>Красться</td>
                    <td>Shift</td>
                    <td id="shiftp">
                        Действие, которое делает персонажа медленнее на 70% и
                        защищает от подения с блока. Активируется нажатием
                        клавиши Shift по дефолту.
                    </td>
                </tr>
                <tr>
                    <td>Стрейф</td>
                    <td></td>
                    <td>
                        Движение боком (с помощью клавиш
                        <a href="#movep">A</a> и <a href="#movep">D</a>),
                        которое можно комбинировать с клавишами
                        <a href="#movep">W</a> и <a href="#movep">S</a>.
                    </td>
                </tr>
                <tr>
                    <td>Тайминг</td>
                    <td></td>
                    <td>
                        Простая серия введенных клавиш, используемая для
                        получения импульса
                    </td>
                </tr>
                <tr>
                    <td>Тап</td>
                    <td></td>
                    <td>
                        Техника, при которой персонаж передвигается в коротких
                        интервалах (1 или два тика, в основном когда персонаж
                        крадется). Используется, чтобы задать точную позицию.
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <br /><br />
        <p id="positions" class="textheader">
            Положение, облицовка и измерения
        </p>
        <hr />
        <table
            class="mx-auto txter tabc table table-striped table-active table-bordered"
        >
            <thead>
                <tr>
                    <td>Термин</td>
                    <td>Алиас</td>
                    <td>Определение</td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>Координаты</td>
                    <td>coords</td>
                    <td>
                        Координаты игрока, которые можно посмотреть, нажав
                        клавишу F3. Чаще всего координаты используются для
                        настройки точного прыжка.
                    </td>
                </tr>
                <tr>
                    <td>Смотреть в направлении</td>
                    <td></td>
                    <td>
                        Угол, под которым игрок смотрит вперед. В отличие от
                        этого направление - это угол, под которым игрок
                        передвигается.
                    </td>
                </tr>
                <tr>
                    <td>Смотреть в направленнии координаты X</td>
                    <td>x</td>
                    <td>
                        Относится к объекту, обращенному к оси X (Восток /
                        Запад). Препятствия, обращенные к оси X, труднее обойти.
                        (Направление X можно увидеть с помощью клавиши F3).
                    </td>
                </tr>
                <tr>
                    <td>Смотреть в направлении координаты Z</td>
                    <td>z</td>
                    <td>
                        Относится к объекту, обращенному к оси Z (Север / Юг).
                        Препятствия, обращенные к оси Z, легче обойти.
                        (Направление Z можно увидеть с помощью клавиши F3).
                    </td>
                </tr>
                <tr>
                    <td>Блок</td>
                    <td>b</td>
                    <td>
                        Стандартная единица измерения расстояния в Minecraft.
                        Эта единица измерения представляет визуальное расстояние
                        (в виде блоков), но не обязательно физическое
                        расстояние.
                    </td>
                </tr>
                <tr>
                    <td>Пиксель</td>
                    <td>px</td>
                    <td>
                        Единица измерения расстояния. Пиксель составляет 1/16
                        часть блока, что равно 0,0625b.
                    </td>
                </tr>
                <tr>
                    <td>Метр</td>
                    <td>m</td>
                    <td>
                        Метаединица измерения расстояния, которая более точно
                        отражает расстояния. Размер ограничивающего
                        прямоугольника игрока составляет 1,8 × 0,6 × 0,6 м3.
                        Учитывая размер ограничивающего прямоугольника игрока,
                        длина прыжка с 4 блоков на самом деле составляет 3,4
                        метра.
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <br /><br />
        <p id="jumpdis" class="textheader">Дистанция прыжка</p>
        <hr />
        <table
            class="txter mx-auto tabc table table-striped table-active table-bordered"
        >
            <thead>
                <tr>
                    <td>Термин</td>
                    <td>Алиас</td>
                    <td>Определение</td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>Дистанция</td>
                    <td></td>
                    <td>
                        Дистанция прыжка, которая дается либо в блоках (b) для
                        визуального удобства, либо в метрах (m) для большей
                        точности.
                    </td>
                </tr>
                <tr>
                    <td>Длина</td>
                    <td># b</td>
                    <td>
                        Длина прыжка (по какой координате он длиннее всего), в
                        блоках.
                    </td>
                </tr>
                <tr>
                    <td>Ширина</td>
                    <td>x #</td>
                    <td>
                        Ширина прыжка (по какой координате прыжок короче всего),
                        в блоках.
                    </td>
                </tr>
                <tr>
                    <td>Высота</td>
                    <td>+ #</td>
                    <td>
                        Высота прыжка, в блоках. В версии 1.8 игрок может
                        прыгнуть максимум на 1.249b. В 1.9 максимальная высота
                        прыжка увеличена до 1.252b.
                    </td>
                </tr>
                <tr>
                    <td>Тип прыжка</td>
                    <td># x # + #</td>
                    <td>
                        Обычное обозначение для простых прыжков. В порядке:
                        Длина, Ширина (если она отлична от нуля), Высота (если
                        она отлична от нуля). Если ширина и высота равны нулю,
                        то после длины следует добавить "b". Примеры: 3b , 4x1 ,
                        5-1 , 4+0,5 , 3x3+0,4375
                    </td>
                </tr>
            </tbody>
        </table>
        <br /><br />
    </div>
    <div class="flexitem sidemenu">
        <div class="list-group text-center goback">
            <a
                href="#"
                class="list-group-item list-group-item-action"
                aria-current="true"
            >
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 txter">К началу страницы</h5>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
