{% extends "__layout.html" %} {% block content %}

<div class="flexcontainer">
    <div class="flexitem sidemenu"></div>
    <div class="flexitemcenter">
        <p class="pageheader">Карты для прохождения</p>
        <hr />
        <br />
        <p class="txter">
            Карты паркура сосредоточены на перепрыгивании с одного препятствия
            на другое.
        </p>
        <br />
        <div class="card mb-4" style="max-width: 1650px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img
                        src="../static/2024-05-24_14.webp"
                        class="img-fluid rounded-start"
                        alt="parkour_isle"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a
                                href="https://www.minecraftmaps.com/50267-parkour-isle"
                                >Parkour Isle</a
                            >
                        </h5>
                        <p class="card-text txter">
                            Parkour Isle - это карта, на которой вы занимаетесь
                            паркуром на острове, полном различных биомов! Здесь
                            много механик, которые помогут вам добраться до
                            конца! Наслаждайтесь!! Карта работает с версиями
                            1.20.5+, если вы используете 1.20.4 или ниже, она не
                            будет работать.
                        </p>
                        <p class="card-text txter">
                            <small class="text-body-secondary"
                                >2024-07-09 - Дата релиза.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card mb-4" style="max-width: 1650px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img
                        src="../static/gfdgfdgfdgfdg 1.png"
                        class="img-fluid rounded-start"
                        alt="parkour_isle"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a
                                href="https://www.minecraftmaps.com/50071-parkour-cross"
                                >Parkour Cross</a
                            >
                        </h5>
                        <p class="card-text txter">
                            Parkour Cross - это карта с 9 уровнями, наполненными
                            паркуром! Целая система пасхалок с 5 секретами,
                            которые нужно найти! Равнины, пустыни, тайга и
                            множество других биомов ждут вас, чтобы поиграть!
                            Наслаждайтесь!
                        </p>
                        <p class="card-text txter">
                            <small class="text-body-secondary"
                                >2024-02-26 - Дата релиза.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card mb-4" style="max-width: 1650px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img
                        src="../static/santa.webp"
                        class="img-fluid rounded-start"
                        alt="parkour_isle"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a
                                href="https://www.minecraftmaps.com/49959-parkour-santa-claus"
                                >Parkour Santa Claus</a
                            >
                        </h5>
                        <p class="card-text txter">
                            В этом паркурном приключении вы - Санта Клаус! Вы
                            должны раздать 15 подарков жителям деревни! В этой
                            огромной деревне, оформленной в зимнем стиле, есть
                            много интересных мест для паркура, и даже секции
                            катания на ледяных лодках и минных картах! Здесь
                            много пещер, домов и многого другого для изучения и
                            паркура! Наслаждайтесь!
                        </p>
                        <p class="card-text txter">
                            <small class="text-body-secondary"
                                >2023-12-21 - Дата релиза.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card mb-4" style="max-width: 1650px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img
                        src="../static/9lvl.webp"
                        class="img-fluid rounded-start"
                        alt="parkour_isle"
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a
                                href="https://www.minecraftmaps.com/49991-9-levels"
                                >9 levels</a
                            >
                        </h5>
                        <p class="card-text txter">
                            Эта карта содержит 9 уровней, наполненных паркуром!
                            Прыгайте через пещеры, здания и многое другое! В
                            конце этого удивительного путешествия вы будете
                            заниматься паркуром по спирали, заполненной
                            различными биомами! Наслаждайтесь!
                        </p>
                        <p class="card-text txter">
                            <small class="text-body-secondary"
                                >2024-01-05 - Дата релиза.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="flexitem sidemenu">
        <div class="list-group text-center goback">
            <a
                href="#"
                class="list-group-item list-group-item-action"
                aria-current="true"
            >
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 txter">К началу страницы</h5>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
