{% extends "__layout.html" %}

{% block content %}

<div class="flexcontainer">
    <div class="flexitem sidemenu">
        <div class="card text-center text-light mx-auto linkcard">
            <div class="card-body">
              <h5 class="card-title textheader text-black">Перейти</h5>
              <h6 class="card-subtitle mb-2 text-muted">-------------</h6>
              <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action txter" href="#playermovement">Основы</a>
                <a class="list-group-item list-group-item-action txter" href="#sprinting">Бег</a>
                <a class="list-group-item list-group-item-action txter" href="#sneaking">Подкрадывание</a>
                <a class="list-group-item list-group-item-action txter" href="#jumping">Прыжок</a>
                <a class="list-group-item list-group-item-action txter" href="#jumpclass">Виды прыжков</a>
              </div>
            </div>
        </div>
    </div>
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="flexitemcenter" tabindex="0">
        <br><br><br>
        <p class="pageheader">Движение</p>
        <hr>
        <br>
        <p id="playermovement" class="textheader">
            Основы: Движение игрока
        </p>
        <hr>
        <p class="txter">
            Каждый <span class="txterhighlight"><a href="glossary#tickp">тик</a></span> игра проверяет вводимые игроком данные и преобразует их в движение. 
            В этой категории описаны все основные действия игрока в версии 1.21, которые имеют отношение к паркуру.
        </p>
        <p class="txter">
            Набор движений в Minecraft довольно прост: помимо <span class="txterhighlight"><a href="#jumping">прыжков</a></span>, у игрока есть три разные скорости передвижения: 
            По умолчанию используется <span class="txterhighlight"><a href="glossary#walkp">ходьба</a></span>. 
            <span class="txterhighlight"><a href="#sprinting">Спринт</a></span>, который выполняется быстрее и позволяет игроку прыгать дальше. 
            Подкрадывание, которое происходит медленнее и позволяет игроку подойти к краю блоков и ухватиться за лестницы / лианы. 
            Каждое из этих трех действий имеет базовое ускорение (соответственно 0,1, 0,13 и 0,03), которое прибавляется к скорости игрока с каждым тактом. 
            Это базовое значение умножается на 0,2 в воздухе и также варьируется в зависимости от того, ведет ли игрок обстрел. 
            Подробные формулы, касающиеся скорости, приведены в разделе Формулы перемещения.
        </p>
        <br>
        <p id="sprinting" class="textheader">
            Бег
        </p>
        <hr>
        <p class="txter">
            <span class="txterhighlight"><a href="glossary#ctrlp">Спринт</a></span> - это важная механика, которая заставляет игрока двигаться быстрее и прыгать дальше. Активируется клавишей <span class="txterhighlight"><a href="glossary#ctrlp">ctrl</a></span> или двойным нажатием клавиши <span class="txterhighlight"><a href="glossary#movep">W</a></span> (последний способ можно использовать только на земле).
        </p>
        <p class="txter">
            Его также можно активировать с помощью кнопки "Назад". В любом случае, время активации составляет 7 тактов. 
            Если не удерживать клавишу "Вперед", игрок прекращает бег. 
            Игрок прекращает бег через 30 секунд, если не удерживать клавишу "Спринт". 
            Спринт несовместим с подкрадыванием (за исключением версии 1.14+).
        </p>
        <p class="txter">
            Столкновение со стеной приводит к тому, что игрок прекращает спринт на следующем тике.
        </p>
        <p class="txter">
            Спринт в воздухе задерживается на один тик (активируется и деактивируется с опозданием на один тик). 
            Спринт не может быть активирован, когда вы голодны, используете какой-либо предмет или страдаете слепотой.
        </p>
        <p class="txter">
            Бег на 30% быстрее ходьбы, обеспечивая базовое ускорение 0,13. Асимптотическая скорость на земле составляет ~0,286 м/т. 
            Кроме того, когда игрок прыгает во время спринта, он ускоряется на 0,2 по направлению к себе (независимо от того, совершает ли игрок страйфинг)
        </p>
        <p class="txter">
            Это означает, что игрок быстро ускоряется во время спринтерских прыжков, что делает его лучшим способом увеличить скорость. 
            Спринтерские прыжки в сторону на самом деле медленнее, чем прыжки вперед, и приводят к сбоям в движении. Но у них есть применение: 
            Полезно для ускорения движения назад, в тех случаях, когда обычный спринтерский прыжок придал бы слишком большую скорость. 
            Используется в технике "Шаг в сторону" для прыжков, требующих поворота.
        </p>
        <br>
        <p id="sneaking" class="textheader">
            Подкрадывание (Sneaking)
        </p>
        <hr>
        <p class="txter">
            <span class="txterhighlight"><a href="glossary#shiftp">Подкрадывание</a></span> - это механика, которая замедляет движение игрока и позволяет ему избежать падения с блока.
        </p>
        <p class="txter">
            Подкрадывание активируется сразу после нажатия клавиши подкрадывания и остается активным, пока она нажата.
        </p>
        <p class="txter">
            Подкрадывание несовместимо со спринтерским бегом. (за исключением версии 1.14+).
        </p>
        <p class="txter">
            Когда игрок находится на земле, подкрадывание не позволяет ему упасть более чем на 1 блок.
        </p>
        <p class="txter">
            При подкрадывании к краю блока скорость сохраняется, что полезно для определенных прыжков, таких как no-mm 3+1. 
            В версии 1.11+ нижний предел изменен на 0.6b; 
            Когда игрок приземляется на край блока во время подкрадывания, происходит "сбой при перемещении", и в этом случае он может упасть (исправлено в версии 1.16.2). 
            В некоторых случаях игрок может неожиданно упасть, пробираясь по земле (примеры) - частично исправлено в 1.16.2. 
            Во время пробирания игрок может повиснуть на лестницах и лианах. 
            Они по-прежнему могут карабкаться вверх, как обычно, но не могут упасть вниз, пока находятся в пределах квартала. 
            В целом, прыжки по лестнице с помощью подкрадывания значительно облегчаются.
        </p>
        <p class="txter">
            В версии 1.9+ рост игрока снижается до 1,65 м. В версии 1.14+ скрытность снижает его еще больше, до 1,5 м.
        </p>
        <br>
        <p id="jumping" class="textheader">
            Прыжок
        </p>
        <hr>
        <p class="txter">
            Чтобы начать прыжок, игрок должен был находиться на земле в течение предыдущего такта. Вот почему игрок может отбежать от блока за 1 такт (например, при выполнении удара головой) и все еще быть в состоянии совершить прыжок.

При удержании клавиши прыжка игрок совершает прыжок не чаще, чем раз в 10 тактов (0,5 секунды)

    Удержание прыжка не является оптимальным при подъеме более чем на 0,75б за прыжок. (как следствие, при прыжке вручную подъем происходит быстрее)
    При отмене прыжка время восстановления сбрасывается, и игрок может прыгнуть снова на следующем тике.

Когда начинается прыжок, вертикальная скорость игрока устанавливается равной 0,42. При каждом следующем тике она уменьшается на 0,08 (сила тяжести), а затем умножается на 0,98 (сопротивление).

    Когда игрок ударяется о потолок, его вертикальная скорость устанавливается равной 0, и он немедленно начинает падать.
    Когда игрок ударяется о землю, его вертикальная скорость устанавливается равной 0, а флажок на земле устанавливается равным true.

Прыжки в воду или лаву заставляют игрока двигаться вверх.
        </p>
        <p class="txter">
            До версии 1.9 максимальная высота прыжка составляла 1,249 м. В версии 1.9 она увеличена на ~0,003 м, что позволяет игроку прыгать на высоту 1,252 м.

На ровной поверхности прыжок длится 12 тактов (0,6 секунды).
        </p>
        <p class="txter">
            В сочетании со спринтом прыжки добавляют игроку 0,2 единицы ускорения по направлению к лицу.

В воздухе игрок ускоряется медленнее (всего на 20% от базового значения ускорения), но сохраняет большую скорость (91% за каждый такт вместо 54,6%).

Таким образом, спринтерские прыжки - это очень эффективный способ развить и сохранить скорость.
        </p>
        <br>
        <p id="jumpclass" class="textheader">Виды прыжков</p>
        <hr>
        <div class="flexinnercontainer">
            <div class="flexiteminntxt">
                <p class="textheader">no-mm 3+1</p>
                <video width="500" height="300" autoplay muted loop>
                    <source src="../static/nomm.mp4" type="video/mp4">
                </video>
                <p class="txter">
                    Данный прыжок выполняется без передвижения модели персонажа, стоя на краю без возможности разгона.
                </p>
                <br>
                <p class="textheader">no-mm 3+1</p>
                <video width="500" height="300" autoplay muted loop>
                    <source src="../static/nomm.mp4" type="video/mp4">
                </video>
                <p class="txter">
                    Данный прыжок выполняется без передвижения модели персонажа, стоя на краю без возможности разгона.
                </p>  
            </div>
        </div>
    </div>
    <div class="flexitem sidemenu">
        <div class="list-group text-center goback">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 txter">К началу страницы</h5>
              </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}